<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945836060260-ho93pp1heib6nai5kpuofd48io8kv1um.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945836060260-ho93pp1heib6nai5kpuofd48io8kv1um</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>945836060260-bm0hb8mgupmal2sj0opv96b4e3hugikb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCpwiFlh5GcxSFAHOWeJVnQtazBUCePYU0</string>
	<key>GCM_SENDER_ID</key>
	<string>945836060260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bufeotec.QuistocochaCaretur</string>
	<key>PROJECT_ID</key>
	<string>dicertura</string>
	<key>STORAGE_BUCKET</key>
	<string>dicertura.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945836060260:ios:f4cd2292b6faf17517b971</string>
</dict>
</plist>